* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: fit-content;
    max-width: 1280px;
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}






@font-face {
    font-family: GillSans;
    src: url(../fonts/GillSans.ttc);
}
@font-face {
    font-family: Proxima-Thin;
    src: url(../fonts/Proxima-Nova-Thin.otf);
}
@font-face {
    font-family: Proxima-Condensed;
    src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}