* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}
.site-container {
    width: 1280px;
    height: 1792px;
    max-width: 1280px;
    min-height: 500px;
    margin: 0 auto;
}
@font-face {
    font-family: GillSans;
    src: url(../fonts/GillSans.ttc);
}
@font-face {
    font-family: Proxima-Thin;
    src: url(../fonts/Proxima-Nova-Thin.otf);
}
@font-face {
    font-family: Proxima-Condensed;
    src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}